body{
    justify-content: center;
    font-family: Verdana;
    background-color: blanchedalmond;
    margin: 0;
    padding:0;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h2{
    align-items: center;
    color: rgb(62, 48, 34);
}

.form-container{
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;

}
label{
    display: block;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;

}
input[type='submit']{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: rgb(127, 159, 255);
    color:rgb(62, 48, 34);
    border-radius: 10px;
    font-size: large;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    justify-content: center;
}
input[type='submit']:hover{
    background-color: rgb(62, 100, 143);
}


.form-group{
    margin-bottom: 20px;
}
.form-group-inline{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.form-group-inline label{
    width: 48%;
    
}
@media (max-width: 600px){
    .form-group-inline label{
        width: 100%;
        margin-bottom: 15px;
    }
}